
<html>
<head>
	<title>Insert title here</title>
</head>
<body>
	<div id="open_message" style="display:none;">
		<input type="text" size="32" id="key">
		<button id="open" >Open</button>
	</div>
	<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
	<script src='/javascripts/jquery-cookie.js'></script>
	<script src='/javascripts/jquery.blockui.js'></script>
	<script>
		$(document).ready(function(){
			$.blockUI({ message: $('#open_message') });
			$("#open").click(function(event){
				$.unblockUI();
				$.ajax({
					url: '/document/uuid',
					data:{'key':$("#key").val()},
					type: 'GET'
				}).done(function(data){
					console.log(data);
					$.cookie("uuid",data.uuid);
					var uuid = data.uuid; 	
					var infinite = setInterval(function(){
						$.ajax({
							url: '/document/getTurn',
							data:{'key':$("#key").val(),
							'uuid':uuid
						},
						type:'GET'
					}).done(function(data) {
						console.log("data" + data.turn);
						if(data.turn === "true"){
							push_document();
						}else if(data.turn === "false"){
							pull();
						}	
					});
				},1000);
					function pull(){
						$.ajax({
							url: '/document/pull',
							data:{'key':$("#key").val()},
							type:'GET'
						}).done(function(data) {
							if(data.doc !== ""){
								$("#pad").val(data.doc);
							}
						});
					}
					function push_document(){
						$.ajax({
							url: '/document/push',
							data:
							{'key': $("#key").val(),
							'value': $("#pad").val()},
							type:"GET"
						}).done(function(data){
							console.log(data);
						});
					}
				});
			});
				$("#requestTurn").click(function(event){
					console.log("requested");
					$.ajax({
						url: '/document/requestTurn',
						data:
						{'key': $("#key").val(),
						'uuid': $.cookie("uuid")},
						type:"GET"
					}).done(function(data){
						console.log(data);
					});

				});
			});
				</script>
			<button type="button" id="requestTurn">Request Turn</button>
			<br>
			<textarea cols="80" rows="80" id="pad">Welcome to etherpad.</textarea>
			<br>
			</html>
		</body>
		</html>
